<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="-CJUCQe06hKr7zz5IFIJHiDscVjUL9TRqbqnJK_jCM8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-139612600-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta property="og:type" content="website" />
    <meta property="og:image"
        content="https://res.cloudinary.com/ivory/image/upload/v1558011480/Alternate_Logo_1.png" />
    <meta name="keywords"
        content="Remote-jobs, Remote, DevAlert, devalert, developer-jobs, developer, programmer, software-engineer, engineer, tech" />
    <meta name="description"
        content="Devalert is a remote job platform that connects developers to remote jobs. It gives developers the access to remote jobs in the world, effective Telecommuting skills and building a better remote platform for all developers." />

    <title>DevAlert | Home</title>
    <style>
        
    </style>
</head>


<body>
    {{> header }}
    <div id="overlay">
        <div class="loading-icon"></div>
    </div>
    <div id="homepage">
        <main class="container">
            <!-- BODY TOP -->
            <section id="body_top" class="container ">
                <div class="row ">
                    <section id="intro">

                        <div class="row">
                            <div class="col-sm-12 col-md-6 intro-text">
                                <h4>The remote life</h4>
                                <h1>Subscribe to receive remote developer jobs.</h1>
                                <p>Let us help you get that dream remote job you’re
                                    perfect for
                                </p>
                                <form action="/email-subscription" method="POST">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email" name="email">
                                        <div class="input-group-append">
                                            <button class="btn subscribe" type="submit">Subscribe</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="input-group">
                                    {{#each errors}}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>{{msg}}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {{/each}} {{#if emailError}}
                                    <div class="alert alert-warning alert-dismissible fade show">
                                        <strong>{{emailError}}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {{/if}} {{#if success}}
                                    <div class="alert alert-success alert-dismissible fade show">
                                        <strong>{{success}}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 intro-img d-flex justify-content-center align-items-center">
                                <img src="images/introimg.jpg" width="300" />
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </main>
        <section id="what-we-are">
            <div class="container">
                <div class="mb-4">
                    <h1 class="text-center">WHAT WE ARE</h1>
                    <p class="text-center text-secondary">We are a remote job platform promoting the remote life</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-item">
                        <img class="bag" src="/images/what-we-are/portfolio.png">
                        <h5 class="text-center mt-3">SEARCH MILLIONS OF JOBS</h5>
                        <p class="text-secondary p-3">
                            We curate top developer jobs from all over the globe. Whatever job you are looking for,
                            we
                            have it here.
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-item">
                        <img class="earth" src="/images/what-we-are/planet-earth.png">
                        <h5 class="text-center mt-3">WORK FROM ANYWHERE</h5>
                        <p class="text-secondary p-3">You can work from office, cafe, park or co-working space. You
                            can
                            choose remote part-time,
                            full time or contract.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 col-item">
                        <img src="/images/what-we-are/value.png">
                        <h5 class="text-center mt-3">TOP CAREERS</h5>
                        <p class="text-secondary p-3">
                            Talent is in top demand. Whether you are a junior, intermediate or senior, we have top
                            career options for you.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="latest-jobs">
            <div class="container">
                <h1 class="text-center">BROWSE SOME LATEST JOBS</h1>
                <p class="text-center text-secondary">Secure the job faster and easier. Here are today's latest jobs</p>
                <div class="row">
                    {{# each latestJobs }}
                    <div class="col-xs-12 col-md-6 col-lg-4 col-item">
                        <div class="bordered">
                            <img class="img-fluid" src="{{this.company_logo}}" />
                            <a href="/jobs/{{this.custom_url}}" class="title">{{this.title}}</a>
                            <p class="stacks">Required Stack: <span>Php | JavaScript | React | NodeJs</span></p>
                            <div class="d-flex flex-column flex-xl-row justify-content-between">
                                <p class="ml-2">
                                    <span class="time"></span>
                                    {{this.created_at}} days ago
                                </p>
                                <p class="ml-2 ml-xl-0 mr-xl-2">
                                    <span class="case"></span>
                                    {{this.type}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                <a href="/jobs" class="m-4"><img class="d-block mr-auto ml-auto"
                        src="/images/latest-jobs/view-all-remote-jobs.png" alt="View all remote jobs"></a>
            </div>
        </section>

        <section id="top-jobs">
            <div class="container">
                <h1 class="text-center">TOP JOBS PAGES</h1>
                <p class="text-center text-secondary">Find jobs based on popular demand</p>
                <div class="row">
                    {{# each stackJobs}}
                    <div class="col-xs-12 col-md-6 col-lg-4 col-item">
                        <div class="bordered">
                            <span class="qty">{{this.count}}</span>
                            <img src="{{this.logo}}" />
                            <a href="/jobs/{{this.tech}}" class="title">Remote {{this.formalName}} Jobs</a>
                        </div>
                    </div>
                    {{/each}}

                </div>
                <a href="/jobs" class="m-4">
                    <img class="d-block mr-auto ml-auto" src="/images/latest-jobs/view-all-remote-jobs.png"
                        alt="View all remote jobs">
                </a>
            </div>
        </section>



        {{!-- <section id="pay-agent">
            <div class="container">
                <div class="pay-header">
                    <h1>Pay an agent to apply</h1>
                    <p>Secure the job faster and easier.
                    </p>
                    <button data-toggle="modal" class="btn btn-custom" data-target="#registerModal">
                        Contact Agent
                    </button>
                </div>
            </div>
        </section> --}}
    </div>



    {{> footer}}

    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

    <script>

        $(function () {
            var stripe = Stripe('pk_live_GS54k1rul0XU7mkJxZy0MhtS');
            $("buttonCheckout").click(function () {
                stripe.redirectToCheckout({
                    sessionId: '{{sessionId}}',
                }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            });
        });

    </script>

</body>
