<!DOCTYPE html>
<html>

<head>

    <title>DevAlert | Remote Job Postings</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/code2.png" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139612600-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-139612600-1');
    </script>

    <style>
        form {
            position: relative;
            margin: 5px auto 0;
            font-size: 15px;
            width: 100%;
        }

        .radiobtn {
            position: relative;
            display: block;
        }

        .radiobtn label {
            display: block;
            background: #c6daec;
            color: #444;
            border-radius: 5px;
            padding: 10px 20px;
            border: 2px solid #72ace0;
            margin-bottom: 5px;
            cursor: pointer;
        }

        .radiobtn label:after,
        .radiobtn label:before {
            content: "";
            position: absolute;
            right: 11px;
            top: 11px;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            background: #72ace0;
        }

        .radiobtn label:before {
            background: transparent;
            transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
            z-index: 2;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: 13px;
            background-position: center;
            width: 0;
            height: 0;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
        }

        .radiobtn input[type="radio"] {
            display: none;
            position: absolute;
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        .radiobtn input[type="radio"]:checked+label {
            background: #5ca0e0;
            -webkit-animation-name: blink;
            animation-name: blink;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            border-color: #5ca0e0;
        }

        .radiobtn input[type="radio"]:checked+label:after {
            background: #6bb8ff;
        }

        .radiobtn input[type="radio"]:checked+label:before {
            width: 20px;
            height: 20px;
        }

        @-webkit-keyframes blink {
            0% {
                background-color: #5ca0e0;
            }

            10% {
                background-color: #5ca0e0;
            }

            11% {
                background-color: #6fa5d8;
            }

            29% {
                background-color: #6fa5d8;
            }

            30% {
                background-color: #78a4ce;
            }

            50% {
                background-color: #83a9cc;
            }

            45% {
                background-color: #8ba9c5;
            }

            50% {
                background-color: #92abc2;
            }

            100% {
                background-color: #93a7b9;
            }
        }

        @keyframes blink {
            0% {
                background-color: #93a7b9;
            }

            10% {
                background-color: #92abc2;
            }

            11% {
                background-color: #8ba9c5;
            }

            29% {
                background-color: #83a9cc;
            }

            30% {
                background-color: #78a4ce;
            }

            50% {
                background-color: #6fa5d8;
            }

            45% {
                background-color: #6fa5d8;
            }

            50% {
                background-color: #5ca0e0;
            }

            100% {
                background-color: #5ca0e0;
            }
        }

        input:focus {
            box-shadow: none;
            outline: 0;
        }

        input[type="text"] {
            width: 400px;
            padding: 8px 12px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        ul {
            margin: 5px 10px;
            padding: 10px;
        }

        ul li {
            display: block;
            margin: 2px 5px;
            padding: 2px 10px;
            width: 100%;
        }

        /**
 * Code for checkboxes
 */
        .checkboxes {
            max-height: 350px;
            overflow: auto;
        }

        .checkboxes::-webkit-scrollbar-thumb,
        .checkboxes::-moz-scrollbar-thumb {
            background-color: #5ca0e0;
            outline: 1px solid #5ca0e0;
        }

        .checkboxes::-webkit-scrollbar,
        .checkboxes::-moz-scrollbar {
            width: 1em;
        }

        .checkboxes::-webkit-scrollbar-track,
        .checkboxes::-moz-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .checkbox {
            position: relative;
            width: 1rem;
            height: 1rem;
            margin-right: 0.75rem;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: 0;

            /**
   * Iterate over map and autogenerate helper classes.
  * See "https://codepen.io/fxm90/pen/zGjjrJ" for an example
  */
        }

        .checkbox:before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            z-index: 1;
            width: 100%;
            height: 100%;
            border: 2px solid #5ca0e0;
            transition: all 0s ease-in-out;
        }

        .checkbox:checked:before {
            height: 50%;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-top-style: none;
            border-right-style: none;
        }

        .checkbox--blue-grey:checked:before {
            border-color: #5ca0e0;
        }
    </style>


</head>


{{> header }}

<div id="jobPage-wrapper" class=" pb-5">
    <div class="container">
        {{!-- Bread crumb --}}
        <div class="row">
            <div class="col-12">
                <div class=" my-4 shadow-sm">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-whyt br-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">All Jobs</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        {{!-- Main Page --}}
        <div class="bg-whyt py-lg-4 py-3 px-lg-3 px-2 shadow-sm  mt-1 mb-5">
            <h3 class="text-center b-7 mb-md-5 mb-3 pt-3">Remote Developer Jobs</h3>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card br-0">
                        <div class="card-header b-6 -center">
                            Filter by Category
                        </div>
                        <form>
                            <div class="radiobtn">
                                <input type="radio" id="part-time" name="drone" value="part-time" checked />
                                <label for="part-time">Part Time</label>
                            </div>
                            <div class="radiobtn">
                                <input type="radio" id="full-time" name="drone" value="full-time" />
                                <label for="full-time">Full Time</label>
                            </div>
                            <div class="radiobtn">
                                <input type="radio" id="contract" name="drone" value="contract" />
                                <label for="contract">Contract</label>
                            </div>
                        </form>
                    </div>
                    <br>
                    <div class="card br-0">
                        <div class="card-header b-6 -center">
                            Technologies
                        </div>
                        <ul class="checkboxes">
                            <li><input id="checkall" type="checkbox" data-id="all" class="checkbox checkbox--blue-grey" />All stacks
                            </li>
                            <li><input type="checkbox" data-id="android" class="checkbox checkbox--blue-grey" />Android
                            </li>
                            <li><input type="checkbox" data-id="asp" class="checkbox checkbox--blue-grey" />ASP</li>
                            <li><input type="checkbox" data-id="cplusplus" class="checkbox checkbox--blue-grey" />C++
                            </li>
                            <li><input type="checkbox" data-id="devops" class="checkbox checkbox--blue-grey" />DevOps</li>
                            <li><input type="checkbox" data-id="ios" class="checkbox checkbox--blue-grey" />IOS</li>
                            <li><input type="checkbox" data-id="java" class="checkbox checkbox--blue-grey" />Java</li>
                            <li><input type="checkbox" data-id="javascript"
                                    class="checkbox checkbox--blue-grey" />Javascript</li>
                            <li><input type="checkbox" data-id="linux" class="checkbox checkbox--blue-grey" />Linux</li>
                            <li><input type="checkbox" data-id="node" class="checkbox checkbox--blue-grey" />NodeJS</li>
                            <li><input type="checkbox" data-id="php" class="checkbox checkbox--blue-grey" />PHP</li>
                            <li><input type="checkbox" data-id="python" class="checkbox checkbox--blue-grey" />Python
                            </li>
                            <li><input type="checkbox" data-id="react" class="checkbox checkbox--blue-grey" />ReactJS</li>
                            <li><input type="checkbox" data-id="ruby" class="checkbox checkbox--blue-grey" />Ruby</li>
                            <li><input type="checkbox" data-id="sql" class="checkbox checkbox--blue-grey" />SQL</li>

                        </ul>
                    </div>
                    <br>
                    <button id="refine" class="btn btn-primary btn-md btn-rounded mt-2"
                        style="background: #5ca0e0; color: #fff">Refine results</button>
                        <button  style="background: #5ca0e0; color: #fff" id="clear-filter" class="btn btn-primary btn-md btn-rounded mt-2">
                            Clear filters 
                        </button>
                </div>
                <div class="col-lg-9 mt-lg-0 mt-3" id="jobTable">
                    {{# each content}}
                    <div class="job_list_wrapper mb-4 border contentCard">
                        <div class="row ">
                            <div class="col-md-3">
                                <img class="img-fluid" src="{{this.company_logo}}" alt="{{this.company}} logo">
                            </div>
                            <div class="col-md-6">
                                <a href="jobs/{{ this.custom_url }}">
                                    <h4 class="b-6 mt-3 mt-lg-0 ci-title">{{this.title}}</h4>
                                </a>
                                <p class="text-muted pb-0 mb-1"><i class="fa fa-briefcase mr-1"></i>{{this.type}}</p>
                                <p class="text-muted"><i class="fa fa-building mr-1"></i>{{this.company}}</p>
                            </div>
                            <div class="col-md-3">
                                {{!-- <h6 class="b-7">Pay Range</h6>
                                    <p class="text-muted"></p> --}}
                                <a href="jobs/{{ this.custom_url }}" class="btn br-0 unsub_cancel btn-sm">View
                                    details</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="alert alert-info hide" id="infoAlert">
                        <strong>Sorry!!!,</strong> no job found
                    </div>

                    <div class="job__paginate my-4">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {{#if buttons.previous}}
                                <li class="page-item">
                                    <a class="page-link" href="jobs?page={{buttons.previous}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {{/if}}
                                {{{helpers.populate_links}}}
                                {{#if buttons.next}}
                                <a class="page-link" href="jobs?page={{buttons.next}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                </li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{> footer}}

<script>
    $(function () {

        $("#checkall").change(function () {
            debugger;
            $('input[type="checkbox"]').prop('checked', $(this).prop("checked"));
        })

        $('#refine').click(function () {
            var selected_category;
            var selected_stacks = [];

            let categories = $('input[type="radio"]')

            for (let i = 0; i < categories.length; i++) {
                if (categories[i].checked) {
                    selected_category = categories[i].value;
                }
            }

            let stacks = $('input[type="checkbox"]')

            for (let i = 0; i < stacks.length; i++) {
                if (stacks[i].checked) {
                    selected_stacks.push(stacks[i].dataset.id)
                }
            }
            
            debugger;
            if (selected_stacks[0] == "all")
                selected_stacks.shift()

            let redirect_url = `/jobs/${selected_category}?${(selected_stacks.join('|'))}`

            location.href = redirect_url;

        });

        $('#clear-filter').click(()=>location.href = "/jobs");

        $('#infoAlert').hide();
        $('#searchInput').keyup(function () {
            $('.contentCard').hide();
            $('#infoAlert').css("display", "none");
            var txt = $('#searchInput').val();
            var resultCount = 0;
            $('.contentCard').each(function () {
                if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                    $(this).show();
                    resultCount++;
                }
            });

            if (resultCount == 0) {
                $('#infoAlert').css("display", "block");
            }

        });
    });
</script>