<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

  <style type="text/css">
.ci-body{
  margin: 0;
  line-height: 1.6rem;
  box-sizing: border-box;
}

/* Page Title*/
#ci-header h1{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
    color: #11144C;
    padding: 40px;
}


/* category*/

.main-title{
  color: #11144c!important;
  font-weight: bold;
}


.list-group a{
  color: #222222;
  padding-bottom: 5px;
}

.list-group{
  border: 1px solid #c4c4c4;
  margin-bottom: 10px;
}


.list-group-item{
  border: none!important;
}

.ci-last{
  margin-bottom: 15px;
}





/* Filter Bar*/
.form-control{
  background:  url(../img/search.png);
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;

}



/* Job role*/
.ci-btn-secondary{
  background-color: #66000000;
  border: 1px solid #c4c4c4;
  margin-left: 0px;
  width: 17vw;
}

.ci-location-filter{
  background-color: #66000000;
  border: 1px solid #c4c4c4;
  margin-left: 0px;
  width: 17vw;
}

/* Filter jobs*/
.ci-btn-second{
  background-color: #66000000;
  color: #6A707E;
}

.ci-head{
  font-size: 16px;
  margin-top: -10px;
  color: #334D6E;
}


.ci-option{
  float: right;
  margin-top: -40px;
  padding-right: 5px;
  font-size: 16px;
  color: #6A707E;
}


.ci-drop{
  color: #109CF1;
}



/* job list view*/

.ci-logo{
    height: 62px;
    width: 62px;
  }


.ci-card{
  padding-top: 25px;
  padding-bottom: 10px;
  border: 1px solid #c4c4c4;
  margin-bottom: 10px;



}

.card{
  border: none!important;
    
}



/* Read more button*/
#main .ci-btn{
  text-decoration: none;
  padding: 0.7rem;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #109CF1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
}


/*For job description*/
.ci-job-nature{
  font-size: 16px;
  margin-top: -10px;
}


.ci-position{
  margin-top: 70px;
  padding-left: 100px;
}


.ci-title{
  padding-left: 40px;

}

.ci-title h3{
  color: #11144c;
  font-weight: 600;

}

.ci-title span{
  color: #222222;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}


.ci-company{
  margin-top: 10px;
  font-size: 18px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  color: #222222;
  opacity: 0.7;
  line-height: 28px;
}


/*Pagination*/

.ci-nav{
  padding-left: 120px;
  margin-bottom: 70px;
}


.ci-pagination{
  padding-left: 40px;
  padding-top: 15px;

}

.page-link{
border: none!important;
}



@media (max-width: 1173px){

  .ci-position{
  margin-top: 145px;
  padding-left: 90px;
 }

.list-group{
  border: 1.5px solid #f4f4f4;
  margin-bottom: 10px;
}

.card{
  border: none!important;
    height: 230px;
}

.ci-company{
  margin-top: 50px;
  font-size: 18px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  color: #222222;
  opacity: 0.7;
  line-height: 28px;
}

.ci-position{
  margin-top: 150px;
  padding-left: 100px;
}

 
}

@media (max-width: 992px){

  .ci-logo{
    padding-left: 20px;
    height: 62px;
    width: 62px;
  }

  .ci-position{
  margin-top: 140px;
  padding-left: 0px;
}

.ci-nav{
  padding-left: 40px;
  margin-bottom: 70px;
}

.list-group{
  border: 1.5px solid #f4f4f4;
  margin-bottom: 10px;
}


.ci-pagination{
  padding-left: 20px;
  padding-top: 15px;

}

.page-link{
     border: none!important;
}

.ci-btn-secondary{
  background-color: #66000000;
  border: 1px solid #f4f4f4;
  margin-left: 0px;
  width: 19.5vw;
}

.ci-location-filter{
  background-color: #66000000;
  border: 1px solid #f4f4f4;
  margin-left: 0px;
  width: 19.5vw;
}

.card{
  border: none!important;
    height: 230px;
}

.ci-company{
  margin-top: 40px;
  font-size: 18px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  color: #222222;
  opacity: 0.7;
  line-height: 28px;
}

.ci-position{
  margin-top: 150px;
  padding-left: 20px;
}

}


@media (max-width: 750px){

  .ci-logo{
    padding-left: 20px;
    height: 62px;
    width: 62px;
  }

  .ci-position{
  margin-top: 40px;
  padding-left: 30px;
}

.ci-nav{
  padding-left: 5px;
  margin-bottom: 70px;
}

.card{
  border: none!important;
    height: 340px;
}

.ci-title{
  padding-left: 40px;
}


.ci-company{
  margin-top: 20px;
  font-size: 18px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  color: #222222;
  opacity: 0.7;
  line-height: 28px;
}

.page-link{
border: none!important;
}

.ci-btn-secondary{
  background-color: #66000000;
  border: 1px solid #f4f4f4;
  margin-left: 0px;
  width: 84.5vw;
}

.ci-location-filter{
  background-color: #66000000;
  border: 1px solid #f4f4f4;
  margin-left: 0px;
  width: 84.5vw;
}

.ci-title h3{
  color: #11144c;
  font-weight: 600;
  font-size: 18px;

}





}





  </style>
</head>



<body class="ci-body">
 {{!-- Sidebar Mobile Wrapper --}}
<div class="mobile-wrapper">

</div>

{{> header }}

    <header id="ci-header">
    	<div class="container">
    		<h1>Job Posting</h1>
    	</div>
    </header>




<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-12">
         <div class="row">
              <div class="col-md-3 col-sm-12">
               <div class="dropdown">
                  <button class="btn ci-btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Job role
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
                </div>

          </div>
       <br>
    				<div class="list-group">
      					<a href="#" class="list-group-item  main-title">Job Category </a>
      				    <a href="/" class="list-group-item">All Jobs</a>
                   <a href="/" class="list-group-item"> Backend</a>
                   <a href="/" class="list-group-item">Design</a>
                  <a href="/" class="list-group-item"> Frontend </a>
                 <a href="/" class="list-group-item ci-last">Marketing </a>

    				</div>

				<div class="list-group">
          <a href="#" class="list-group-item main-title">Job Nature </a>
                     <a href="#" class="list-group-item">Fulltime </a>
                    <a href="/" class="list-group-item"> Freelance </a>
                   <a href="/" class="list-group-item ci-last">Intern </a>

        </div>
   </div>

			<div class="col-md-9">
			 <!-- Job Listing -->
         <div class="row">
             <div class="col-md-4 col-sm-12">
                       <div class="dropdown">
                  <button class="btn ci-location-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Location
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
                <br>
             </div>

               <div class="col-md-8 col-sm-12">
                  <input  class="form-control" type="text" placeholder="Search with Keyword, Location, company">
                  <br>
             </div>
             
             </div>
         
            <div class="">
              <div class="">
                <div class="col-md-12 ci-card">
                  <div class="">
                        <h3 class="ci-head">ALL JOBS</h3>
                         <div class="dropdown ci-option">
                      <button class="btn ci-btn-second dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Shows: <span class="ci-drop">All Jobs</span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </div>
                </div>
                 
                 {{# each content}}
                 <div class="ci-card">
                    <div class="card">
                      <div class="card-body">
                         <div class="row">
                        <div class="col-md-1 col-sm-12">
                            <img class="ci-logo" src="{{this.company_logo}}" width="32" height="32">
                        </div>
                        <div class="col-md-7 ci-title">
                          <h3>{{this.title}} <br><span class="ci-job-nature">{{this.type}}</span></h3>
                          <h4 class="ci-company">{{this.company}}</h4>
                        </div>
                         <div class="col-md-4 ci-position" >
                            <a href="?id={{this.id}}" class="ci-btn">Read More</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  {{/each}}


                       
                 <!-- <div class="ci-card">
                    <div class="card">
                      <div class="card-body">
                         <div class="row">
                        <div class="col-md-1 col-sm-12">
                            <img class="ci-logo" src="img/new_logo.png">
                        </div>
                        <div class="col-md-7 ci-title">
                          <h3>Senior Backend Developer <br><span class="ci-job-nature">Full-Time</span></h3>
                          <h4 class="ci-company">Shell</h4>
                        </div>
                         <div class="col-md-4 ci-position" >
                            <a href="/" class="ci-btn">Read More</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>

                       
                 <div class="ci-card">
                    <div class="card">
                      <div class="card-body">
                         <div class="row">
                        <div class="col-md-1 col-sm-12">
                            <img class="ci-logo" src="img/new_logo.png">
                        </div>
                        <div class="col-md-7 ci-title">
                          <h3>Senior Backend Developer <br><span class="ci-job-nature">Full-Time</span></h3>
                          <h4 class="ci-company">Shell</h4>
                        </div>
                         <div class="col-md-4 ci-position" >
                            <a href="/" class="ci-btn">Read More</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                  
                 
                        
                <div class="ci-card">
                    <div class="card">
                      <div class="card-body">
                         <div class="row">
                        <div class="col-md-1 col-sm-12">
                            <img class="ci-logo" src="img/new_logo.png">
                        </div>
                        <div class="col-md-7 ci-title">
                          <h3>Senior Backend Developer <br><span class="ci-job-nature">Full-Time</span></h3>
                          <h4 class="ci-company">Shell</h4>
                        </div>
                         <div class="col-md-4 ci-position" >
                            <a href="/" class="ci-btn">Read More</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>

                 <div class="ci-card">
                    <div class="card">
                      <div class="card-body">
                         <div class="row">
                        <div class="col-md-1 col-sm-12">
                            <img class="ci-logo" src="img/new_logo.png">
                        </div>
                        <div class="col-md-7 ci-title">
                          <h3>Senior Backend Developer <br><span class="ci-job-nature">Full-Time</span></h3>
                          <h4 class="ci-company">Shell</h4>
                        </div>
                         <div class="col-md-4 ci-position" >
                            <a href="/" class="ci-btn">Read More</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>

                       
                 <div class="ci-card">
                    <div class="card">
                      <div class="card-body">
                         <div class="row">
                        <div class="col-md-1 col-sm-12">
                            <img class="ci-logo" src="img/new_logo.png">
                        </div>
                        <div class="col-md-7 ci-title">
                          <h3>Senior Backend Developer <br><span class="ci-job-nature">Full-Time</span></h3>
                          <h4 class="ci-company">Shell</h4>
                        </div>
                         <div class="col-md-4 ci-position" >
                            <a href="/" class="ci-btn">Read More</a>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>

 -->
                    
                  
               </div>
                       
                
            </div>

            <div class="row">
              <div class="col-md-0">
                
              </div>
              <div class="col-md-12 ">
                  <nav class="ci-nav" aria-label="Page navigation example">
                <ul class="pagination ci-pagination">
                  <li class="page-item ci-page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true"><</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  
                  
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">7</a></li>
                  <li class="page-item"><a class="page-link" href="#">8</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item"><a class="page-link" href="#">10</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true"> ></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              </div>
              <div class="col-md-0">
                
              </div>
            </div>
          
          </div>

			</div>
		</div>
	</div>
</section>


{{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="js/bootstrap.bundle.min"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>