<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="stylesheets/sb-admin-2.min.css" rel="stylesheet">
  <style type="text/css">
    .sidebar{
      background-color: #11122C;
    }
    .bg-blue{
       background-color: #11122C;
    }
    .dashboard{
      height:14vh;
      width: 100%;
      background-color: #11144C;
      color: white;
    }
  </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    {{> dashboard_nav }}

<body class="admin_body">

  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content ">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-center mb-4 dashboard">
            <h1 class="h3 mb-0 text-blue-700">Manage Jobs</h1>
          </div>
          
         <div class="container-fluid">
           <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <p class="mb-4 text-gray-800">This is the managejobs page for DevAlert</p>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#createJobModal"><i class="fas fa-plus fa-sm text-white-50"  ></i> Add Jobs</button>
          </div>
          <div class="card shadow mb-4">
            <div class="card-header py-3 bg-blue">
              <h6 class="m-0 font-weight-bold text-white">Job Table</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="jobtable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th>Website</th>
                      <th>Company Name</th>
                      <th>Job Title</th>
                      <th>Date Created</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    <tr>
                      
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>

  <!-- Create Job Modal-->
  <form action="/jobs" method="POST">
    <div class="modal fade" id="createJobModal" tabindex="-1" role="dialog" aria-labelledby="createJobModalLabel" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header bg-blue">
            <h5 class="modal-title text-white" id="createJobModalLabel">Create Job</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="nrm-wrapper">
              <div class="form-group">
                <input type="text" class="form-control br-0" name="company_name" placeholder="Company's Name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-0" name="job_title" placeholder="Job Title" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-0" name="job_link" placeholder="Job link" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control br-0" name="email" placeholder="Email Address" required>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="number" class="form-control br-0" name="minimum_salary" placeholder="Minimum Salary" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="number" class="form-control br-0" name="maximum_salary" placeholder="Maximum Salary" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <select name="location" id="" class="form-control br-0" required>
                      <option selected>Select State</option>
                      <option value="Abuja">Abuja</option>
                      <option value="Lagos">Lagos</option>
                      <option value="Port Harcourt">Port Harcourt</option>
                      <option value="Ghana">Ghana</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <select name="career_level" id="" class="form-control br-0" required>
                      <option selected>Choose Experience</option>
                      <option value="Junior">Junior</option>
                      <option value="Intermediate">Intermediate</option>
                      <option value="Expert">Expert</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea id="" cols="30" rows="4" name="job_description" placeholder="Job Description" class="form-control br-0" required></textarea>
              </div>
              <div class="form-group">
                <input type="text" name="image_link" class="form-control br-0" placeholder="Enter Image link">
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="submit" class="submit btn btn-success b-7 br-0 btn-block" value="Add New">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Edit Job Modal-->
  {{# each content}}
  <form action="/jobs/{{this.id}}" method="post">
    <div class="modal fade" id="a{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="editJobModalLabel" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <!-- Create Job Modal-->
            <h5 class="modal-title" id="editJobModalLabel">Edit Job</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="nrm-wrapper">
              <div class="form-group">
                <input type="text" class="form-control br-0" name="company_name" value="{{this.company_name}}" placeholder="Company's Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-0" name="job_title" value="{{this.job_title}}" placeholder="Job Title">
              </div>
              <div class="form-group">
                <input type="text" class="form-control br-0" name="job_link" value="{{this.job_link}}" placeholder="Job link">
              </div>

              <div class="form-group">
                <input type="email" class="form-control br-0" name="email" value="{{this.employer_email}}" placeholder="Email Address">
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="number" class="form-control br-0" name="minimum_salary" value="{{this.job_pay_min}}" placeholder="Minimum Salary">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="number" class="form-control br-0" name="maximum_salary" value="{{this.job_pay_max}}" placeholder="Maximum Salary">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <select name="career_level" id="" class="form-control br-0">
                      <option selected>Choose Experience</option>
                      <option value="Junior">Junior</option>
                      <option value="Intermediate">Intermediate</option>
                      <option value="Expert">Expert</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <textarea id="" cols="30" rows="4" name="job_description" placeholder="Job Description" class="form-control br-0">{{this.job_description}}</textarea>
              </div>
              <div class="form-group">
                <input type="text" name="image_link" value="{{this.image_link}}" class="form-control br-0">
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="submit" class="submit btn btn-info b-7 br-0 btn-block" value="Save Changes">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></div>
  </form>
  {{/each}}

  <!-- View Job Modal of Added Jobs-->
  {{# each content}}
  <div class="modal fade" id="b{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="viewJobModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <!-- Create Job Modal-->
          <h5 class="modal-title job_text_color" id="viewJobModalLabel">Job Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="nrm-wrapper">
            <div class="row">
              <div class="col-6">
                <h6 class="text-muted t-12">Job Title</h6>
                <h5 class="job_text_color t-15">{{this.job_title}}</h5>
              </div>
              <div class="col-6">
                <h6 class="text-muted t-12">Company</h6>
                <h5 class="job_text_color t-15">{{this.company_name}}</h5>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <h6 class="text-muted t-12">Salary</h6>
                <h5 class="job_text_color t-15">&#8358; {{this.job_pay_min}} - &#8358;{{this.job_pay_max}}</h5>
              </div>
              <div class="col-6">
                <h6 class="text-muted t-12">Email Address</h6>
                <h5 class="job_text_color t-15">{{this.employer_email}}</h5>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <h6 class="text-muted t-12">State</h6>
                <h5 class="job_text_color t-15">{{this.location}}</h5>
              </div>
              <div class="col-6">
                <h6 class="text-muted t-12">Experience</h6>
                <h5 class="job_text_color t-15">{{this.career_level}}</h5>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <div class="bg-light p-2">
                  <h6 class="text-muted t-12 b-7">Description</h6>
                  <p class="job_textcolor t-14 l-27">
                    {{this.job_description}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  


<!---View Modal of API Jobs---->
<div class="ViewJob modal fade" id="ViewJob" tabindex="-1" role="dialog" aria-labelledby="viewJobModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <!-- Create Job Modal-->
          <h5 class="modal-title job_text_color" id="viewJobModalLabel">Job Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="nrm-wrapper">
            <div class="row">
              <div class="col-6">
                <h6 class="text-muted t-12">Job Title</h6>
                <h5 id="jobTitle" class="job_text_color t-15"></h5>
              </div>
              <div class="col-6">
                <h6 class="text-muted t-12">Company</h6>
                <h5 id="company" class="job_text_color t-15"></h5>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <h6 class="text-muted t-12">Job Type</h6>
                <h5 id="jobType" class="job_text_color t-15"></h5>
              </div>
              <div class="col-6">
                <h6 class="text-muted t-12">Website</h6>
                <h5 id="website" class="job_text_color t-15"></h5>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <h6 class="text-muted t-12">Job Link</h6>
                <h5 id="jobURL" class="job_text_color t-15"></h5>
              </div>
              <div class="col-6">
                <h6 class="text-muted t-12">Location</h6>
                <h5 id="location" class="job_text_color t-15"></h5>
              </div>
              
            </div>
            <div class="row mt-4">
              <div class="col-12">
                <div class="bg-light p-2">
                  <h6 class="text-muted t-12 b-7">How To Apply</h6>
                  <p id="description" class="job_textcolor t-14 l-27">
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <script>
		let jobs = null; // To store all jobs
		var job_id = null;
		var job = null;
		let single_job = null; // to store a single job
		let loaded = 0;
		let i = 1;

		function add_jobs(jobs) {
			for (let i = 0; i < jobs.length; i++) {
				add_job(jobs[i]);
				loaded += 1;
			}
		}

		function add_job(job) {
			// if it's a job from microsoft, use microsoft's logo
			if (job.company.toLowerCase() == "microsoft") {
				job.company_logo = "images/ms.png";
			}

			// if it's a job from google's, use google's logo
			else if (job.company.toLowerCase() == "google") {
				job.company_logo = "https://img.icons8.com/color/29/000000/google-logo.png";
			}

			// if it's a job from google's, use google's logo
			else if (job.company.toLowerCase() == "facebook") {
				job.company_logo = "https://img.icons8.com/ios/29/000000/facebook-filled.png";
			}
			
				let job_html = "<ul data-id=" + job.id + " class='job col-sm-5'><li><img style='width:29px; height:29px;' src='" + job.company_logo + "' /></li><li><p>" + job.title + "</p></li><li><a class='view-more' data-toggle='modal' data-target='#jobModal'><p>view<img src='images/Arrow.png' /></p></a></li></ul>";

			$(".jobs").append(job_html);
	


			if (image.attr("src") == "") {
				image.attr("src", "https://img.icons8.com/ios-glyphs/29/000000/organization.png");
			}
			

		}


		function load_data() {

			//$("#jobtable").html("<img src='images/spinner.gif' style='height: 31px; width:31px;' />");
			$.ajax({
				url: "/jobs_api",
				async: false,
				dataType: 'JSON',
				success: function (data) {
					var table = document.getElementById('jobtable');
					
					

					data.forEach(
                            function(jobs) {
                            	var tr = document.createElement('tr');
                                  tr.innerHTML =  '<tr><td>' + i++
                                                + '</td><td>'
                                                + jobs.company_url
                                                + '</td><td>'
                                                + jobs.company
                                                + '</td><td>'
                                                + jobs.title
                                                + '</td><td>'
                                                + jobs.created_at
                                                + '</td><td>'
                                               + '<button class="btn br-0 btn-primary btn-sm t-11" data-toggle="modal" data-target="#a{{this.id}}"><i class="fa fa-pen"></i> Edit</button>'
                                               
                                               + '<button class="ViewBtn btn br-0 btn-dark btn-sm t-11" data-id=' + jobs.id +' data-toggle="modal" data-target="#ViewJob"><i class="fa fa-eye"></i> View</button>'
                                               
                                               + '<a href="/jobs/{{this.id}}/delete" class="btn br-0 btn-danger btn-sm t-11"><i class="fa fa-trash"></i> Delete</a>'
                                                + '</td></tr>';
                                     table.appendChild(tr);
                                     
                            });
				}
			});
		}

		function load_single_data(id) {
			$.ajax({
				url: "/jobs_api/" + id,
				async: false,
				success: function (data) {
					for(let j = 0; j < data.length; j++){
						if(data[j].id){
							job = data[j];
						}
						
						if (!job.company_url){
							job.company_url = ""
						}

						if(!job.how_to_apply){
							job.how_to_apply = ""
						}
						$("#jobTitle").html(job.title)
						$("#website").html(job.company_url)
						$("#description").html(job.how_to_apply)
						$("#location").html(job.location)
						$("#company").html(job.company)
						$("#jobType").html(job.type)
						$("#jobURL").html(job.url)
					}
					
					
				}
			});
		}

		$(function () {
			load_data();
			$("#filter > a").on("click", function () {
				$(".jobs ul").remove();
				filter = $(this).attr("data-filter")
				loaded = 0;
				$("#curr_filter").html(filter)
				load_data(filter)
			})

			$("#load_listings").on('click', function () {
				if (loaded < jobs.length) {
					// add 10 more jobs to the homepage // or what's left in the db
					load_data()
				}
				if (jobs.length == loaded) {
					$("#load_listings").attr("disabled", true).html("No more listings");
				}
			});

			$("#jobtable").on('click', ".ViewBtn", function () {
				job_id = $(this).attr("data-id");
				load_single_data(job_id);
			});
		});









    $(document).ready(() => {
      $('.dash_bar').click(e => {
        $('#sidebar').toggleClass('sidebar-collapse')
        $('.content-wrapper').toggleClass('content-wrapper-collapse')
        $('.fixed-header').toggleClass('fixed-header-collapse')
      })
    })
  </script>
  <script src="js/sb-admin-2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
</body>
</html>