<head>
    <title>DevAlert Remote Job - {{title}} </title>

    <style type="text/css">
        .subscribe-form {
            width: 70%;
            color: white;
            padding: 40px;
        }

        .subscribe-form form {
            width: 60%;
        }

        .shorten-link {
            margin-right: auto;
            margin-left: auto;
        }

        em,
        strong {
            padding: 2px 5px;
            margin: 4px;
            color: #ffffff;
            font-weight: 800;
        }

        div em,
        div strong {
            background: rgba(17, 20, 76, .9);
        }

        div li em,
        div li strong {
            background: rgba(17, 20, 76, .3);
        }

        .title-header {
            text-transform: uppercase;
            background: rgba(17, 20, 76, .9);
            color: #ffffff;
        }

        /* line 1, ../New folder (2)/mystyle.scss */
        #single-job {
            width: 100%;
            margin: 60px 0;
        }

        /* line 5, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top {
            padding-top: 15px;
        }

        /* line 10, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-head p {
            margin-bottom: 5px;
        }

        #single-job .single-job-top .job-head {}

        /* line 14, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-head .job-img-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: .2px 1.5px 4px .2px #eeeeee;
        }

        /* line 18, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-head .job-img-container img {
            width: 100%;
            box-shadow: .2px 1.5px 4px .2px #eeeeee;
            vertical-align: middle;
            display: inline-block;
        }

        /* line 23, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-head .job-quick-details {
            width: 100%;
        }

        /* line 26, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-head .job-quick-details p {
            font-size: 16px;
        }

        /* line 30, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-head .job-quick-details a {
            width: 70%;
            display: block;
            color: white;
            background: #11144c;
        }

        /* line 39, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-summary {
            color: #000000;
        }

        /* line 40, ../New folder (2)/mystyle.scss */
        #single-job .single-job-top .job-summary h3 {
            font-family: "Work Sans", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 1.5em;
            color: #11144C;
        }

        /* line 52, ../New folder (2)/mystyle.scss */
        #single-job hr {
            margin: 40px 0;
            border-top: 2px solid rgba(0, 0, 0, 0.1);
        }

        /* line 57, ../New folder (2)/mystyle.scss */
        #single-job .single-job-body {
            padding: 10px 5px;
        }

        /* line 60, ../New folder (2)/mystyle.scss */
        #single-job .single-job-body h3 {
            font-family: "Work Sans", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 1em;
            margin-bottom: 15px;
            color: #11144C;
        }

        /* line 68, ../New folder (2)/mystyle.scss */
        #single-job .single-job-body p {
            color: #000000;
        }

        /* line 74, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom {
            margin: 20px 0;
            padding: 0 10px;
        }

        /* line 78, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section {
            font-size: 16px;
            box-shadow: 0 1px 2px .2px #eeeeee;
        }

        /* line 83, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section h4 {
            font-size: 1.2em;
            font-weight: 700;
        }

        /* line 88, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs {
            padding: 10px;
        }

        /* line 91, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job {
            box-shadow: .2px 1.5px 4px .2px #eeeeee;
            padding: 15px 5px;
            margin: 30px 0;
            border: 0.5px solid rgba(6, 6, 6, 0.1);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            min-height: 130px;
        }

        /* line 102, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-image {
            max-width: 120px;
            padding: 10px;
            box-shadow: .2px 1.5px 4px .2px #eeeeee;
            text-align: center;
            width: 100%;
        }

        /* line 107, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-image img {
            width: 80%;
        }

        /* line 112, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-body {
            margin-left: 10px;
            text-align: left;
            color: #000000;
            flex-grow: 2;
        }

        /* line 115, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-body h4 {
            font-size: 1em;
            color: #11144c;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 240px;
        }

        /* line 121, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-body p {
            margin-bottom: 2px;
            font-size: .7em;
            font-weight: 200;
        }

        /* line 126, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-link {
            margin-right: 10px;
            margin-left: auto;
        }

        /* line 133, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-link a {
            background: #fff;
            color: #11144C;
            border-color: #11144C;
        }

        /* line 138, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-link a:hover {
            background: #11144C;
            color: #ffffff;
        }

        /* line 148, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .hire-agent {
            font-size: 16px;
            box-shadow: .2px 1.5px 4px .2px #eeeeee;
        }

        /* line 152, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .hire-agent h4 {
            font-size: 1.2em;
            text-align: center;
            font-weight: 700;
            margin-bottom: 30px;
        }

        /* line 159, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .hire-agent .form-box {
            padding: 20px;
        }

        /* line 164, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .hire-agent .form-box form .input-group {
            padding: 5px;
        }

        /* line 168, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .hire-agent .form-box form .pay-buttons {
            padding: 2px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
        }

        /* line 175, ../New folder (2)/mystyle.scss */
        #single-job .single-job-bottom .hire-agent .form-box form .pay-buttons input,
        #single-job .single-job-bottom .hire-agent .form-box form .pay-buttons button {
            display: block;
            width: 70%;
            margin: 0 auto;
        }

        @media (max-width: 768px) {

            #breadcrumbs ul li.active a {
                max-width: 250px;
            }

            .title-header {
                text-align: center;
            }

            .input-group.input-group-lg {
                width: 90%;
            }

            .pay-buttons>button,
            .pay-buttons>input {
                width: 80%;
            }

            #single-job .single-job-bottom .hire-agent .form-box form .pay-buttons {
                width: 100% !important;
                flex-direction: column !important;
            }

            .title-header {
                font-size: 1.4em;
            }

            /* line 191, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-head {
                text-align: center;
            }

            /* line 195, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-head .job-img-container {
                box-shadow: none;
            }

            #single-job .single-job-top .job-head .job-img-container img {
                width: 30%;

            }

            /* line 201, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-head .job-quick-details a {
                margin-left: auto;
                margin-right: auto;
                width: 150px;
            }

            /* line 209, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-summary {
                margin-top: 40px;
            }

            /* line 213, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-summary h3 {
                font-size: 18px;
                text-align: center;
            }

            /* line 218, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-summary p {
                font-size: 14px;
            }

            /* line 224, ../New folder (2)/mystyle.scss */
            #single-job .single-job-body {
                padding: 10px 2px;
            }

            /* line 225, ../New folder (2)/mystyle.scss */
            #single-job .single-job-body h3 {
                text-align: center;
            }

            /* line 243, ../New folder (2)/mystyle.scss */
            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-body h4 {
                font-size: 16px;
                max-width: 225px !important;
            }

            /* line 247, ../New folder (2)/mystyle.scss */
            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-body p {
                font-size: 12px;
            }

            /* line 255, ../New folder (2)/mystyle.scss */
            #single-job .single-job-bottom .hire-agent {
                margin-top: 30px;
            }
        }

        @media (max-width: 468px) {

            #breadcrumbs ul li.active a {
                max-width: 160px;
            }

            .shorten-link a {
                display: inline-block;
                max-width: 320px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .shorten-link a {
                max-width: 320px !important;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .title-header {
                font-size: 1em;
            }

            /* line 265, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-head {
                text-align: center;
            }

            /* line 269, ../New folder (2)/mystyle.scss */
            #single-job .single-job-top .job-head .job-img-container img {}

            .subscribe-text {
                font-size: 20px;
            }
        }

        @media (max-width: 992px) {

            .subscribe-form form {
                width: 100%;
            }

            .title-header {
                font-size: 1.8em;
            }

            .input-group.input-group-lg,
            .pay-buttons>button,
            .pay-buttons>input {

                margin-left: auto;
                margin-right: auto;
            }

            .input-group.input-group-lg {
                width: 70%;
            }

            #single-job .single-job-bottom .hire-agent .form-box form .pay-buttons {
                width: 100% !important;
                flex-direction: column !important;
            }

            .more-job .more-job-body h4 {
                font-size: 20px;
                max-width: 300px !important;
            }

        }

        @media (max-width: 480px) {

            .subscribe-form form>.input-group>input,
            .subscribe-form form>.input-group>div {
                width: 100%;
                margin: 5px 0;
            }

            .input-group.input-group-lg {
                width: 100%;
            }

            /* line 126, ../New folder (2)/mystyle.scss */
            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-link {
                align-self: center;
                justify-self: center;
                margin: 10px 30px;
                width: 100%;
            }

            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-image {
                flex-basis: 100%;
                justify-self: center;
            }


            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-body {
                width: 100%;
            }

            .title-header {
                font-size: 1.5em;
            }

            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job h4 {
                font-size: 16px;
                max-width: 240px !important;
            }

            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job {
                height: unset;
                justify-content: center;
            }

            #single-job .single-job-bottom .more-jobs-section .more-jobs .more-job .more-job-body {
                text-align: center;
            }

        }
    </style>
</head>

{{> header }}

{{!-- All content goes here  --}}
<div id="single-job">
    <div class="container">
        {{!-- Bread crumb --}}
        <div class="row">
            <div class="col-12">
                <div class=" my-4 shadow-sm">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-whyt br-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">All Jobs</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <h1 class="title-header mt-2 mb-2 p-1 pl-2">{{content.title}}</h1>
        <div class="single-job-top">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 job-head">
                    <div class="job-img-container">
                        <img class="img-fluid" src="{{content.company_logo}}" alt="{{content.title}}" />
                    </div>
                    <div class="job-quick-details mt-4">
                        <p>{{content.type}}&nbsp;-&nbsp;{{content.title}}</p>
                        <p>At {{content.company}}</p>
                        <p style="color: black;">Our experienced and connected agents will apply on your behalf to boost
                            your chances.</p>
                        <a class="btn mt-4" href="#hire-form">Apply Now</a>
                    </div>
                </div>
                <div class="d-md-none col-lg-1"></div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 job-summary">
                    <p class="text-xs-center p-1" style="display: inline; background: #11144C; color: white;">Work from
                        anywhere</p><br /><br />
                    <i class="m-1">Apply through us and get your dream remote job today!</i>
                    <br /><br />
                    <h3>REMOTE JOB SUMMARY</h3>
                    <p style="text-transform: capitalize;">Key Technologies: {{{keytech}}}</p>
                    <p>
                        {{{summary}}}
                        <p>Location: {{content.location}}</p>
                        <p style="font-size: 14px;">Since: <span>{{content.created_at}}</span></p>
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="single-job-body text-sm">
            <h3>FULL DESCRIPTION</h3>
            {{{content.description}}}
            <h3>Want to Apply directly?</h3>
            <div class="row shorten-link">
                <p>{{{content.how_to_apply}}}</p>
            </div>
        </div>
        <br />
        <div class="single-job-bottom">
            <div class="row">
                <div class="col-md-12 col-lg-6 more-jobs-section">
                    <div class="more-jobs">
                        <h4 class="text-center" >SIMILAR REMOTE JOBS YOU MAY LIKE</h4>
                        {{# each similar_jobs}}
                        <div class="more-job">
                            <div class="more-job-image">
                                <img class="img-fluid" alt="{{this.title}}" src="{{this.company_logo}}">
                            </div>
                            <div class="more-job-body">
                                <h4 title="{{this.title}}">{{this.title}}</h4>
                                <p>{{this.type}}</p>
                                <p>Company: {{this.company}}</p>
                            </div>
                            <div class="more-job-link">
                                <a href="/jobs/{{this.custom_url}}" class="btn btn-sm">Apply</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="hidden-md col-lg-1"></div>
                <div id="hire-form" class="col-md-12 col-lg-5 hire-agent">
                    <div class="form-box">
                        <h4>HIRE AN AGENT TODAY</h4>
                        <p class="text-center">Pay an agent to Apply on your behalf.<br />Increase your chances by 70%.
                        </p>
                        <form method="POST" action="/pay">
                            <div class="input-group input-group-lg mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input type="text" name="email" class="form-control" placeholder="email@dev.com"
                                    aria-label="Email" aria-describedby="basic-addon1" required="required">
                            </div>
                            <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><span
                                            class="fa fa-phone"></span></span>
                                </div>
                                <input type="text" name="phoneNo" class="form-control" placeholder="234" minlength="11"
                                    pattern="[+]{0,1}[0-9\s]+" maxlength="16" required="required"
                                    aria-label="phonenumber" aria-describedby="basic-addon1">
                            </div>
                            <div class="pay-buttons">
                                <input value="Pay with Paystack" type="submit" name="phone"
                                    class="btn btn-custom px-2 mt-4" />
                                <button id="buttonCheckout" class="btn btn-custom px-2 mt-4">Pay with Stripe</button>
                            </div>
                        </form>
                        <br>
                        <p>Once payment is successful, An agent will get in touch with you within 30 minutes and begin
                            your application process.</p>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <a style="background: #11144C; color: white;" class="btn btn-sm btn-secondary p-2" href="/jobs">Back to job
            listings</a>
        <br>
    </div>
</div>
<div class="container_fluid pt-4 pb-4 mb-4" style="background: rgba(17, 20, 76, .9);">
    <div class="subscribe-form col-sm-12 col-md-12 text-center intro-text mr-auto ml-auto mt-2 mb-4">
        <h3 class="subscribe-text text-md-center text-lg-left">Get on board. Subscribe to receive alerts on similar
            remote jobs like this for
            free.</h3>
        <form action="/email-subscription" method="POST">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Email" name="email" required="required">
                <div class="input-group-append ml-2">
                    <button class="btn subscribe" style="color: white; background-color:#11144C"
                        type="submit">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br><br>
{{> footer}}

<script src="https://js.stripe.com/v3/"></script>
<script>
    $(function () {
        var stripe = Stripe('pk_live_GS54k1rul0XU7mkJxZy0MhtS');
        $("buttonCheckout").click(function () {
            stripe.redirectToCheckout({
                sessionId: '{{sessionId}}',
            }).then(function (result) {

            });
        })
    });
</script>